body {
    margin: 0;
}

.code-block {
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    margin-top: 1em;
    font-size: 110%;
}

.info-header {
    border-bottom: 1px solid;
    font-weight: bold;
    font-family: sans-serif;
}

.running {
    display: none;
}

.leanlink {
    font-size: 80%;
}

.Pane.horizontal.Pane2 {
    max-height: 33%;
}

.leaneditorContainer {
    height: 99vh;
    display: flex;
    flex-direction: column;
}

.leanheader {
    display: flex;
    border-bottom: 1.5px solid rgb(93, 101, 116);
}

.headerContainer {
    overflow: hidden;
}

.headerForms {
    padding: 1em 1em 0.25em 1em;
    flex-grow: 1;
}

.urlForm {
    display: flex;
}

.urlForm form {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.urlForm input[type='text'] {
    flex: 1;
}

.editorContainer {
    flex: 1;
    width: 100%;
    position: relative;
}

.monacoContainer {
    height: 100%;
    width: 100%;
    margin: 2ex 0em 2ex -1ex;
    padding-right: 6px;
    overflow: hidden;
}

.infoContainer {
    height: calc(100% - 10px);
    margin: 1ex;
}

.toggleDoc {
    margin-top: 1em;
    cursor: pointer;
    white-space: pre-wrap;
}

/* https://alligator.io/css/collapsible/ */
.wrap-collabsible {
    margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
    text-align: center;
    color: #222;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #44a;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked  + .lbl-toggle + .collapsible-content {
    max-height: 10em;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (min-width: 370px) and (max-width: 700px) {
    .logo {
        display: none;
    }
    .running {
        display: inline;
    }
    .leanheader {
        font-size: 80%;
    }
    .leanlink {
        font-size: 110%;
    }
}

@media screen and (max-width: 369px) {
    .logo {
        display: none;
    }
    .url {
        display: none;
    }
    .running {
        display: inline;
    }
    .leanheader {
        font-size: 80%;
    }
    .leanlink {
        font-size: 110%;
    }
}

.Resizer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: 5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}